<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Lec02 GET!</h1>

  <p>
  <div th:if="${room}">
    エントリー
    <ul>
      <li th:each="user : ${room.users}">[[${user}]]</li>
    </ul>
  </div>
  <div th:if="${login_user}">
    hi [[${login_user}]]
  </div>
  </p>
  <p>
    <li th:each="match:${matches}">
      [[${match.id}]] [[${match.user1}]] [[${match.user2}]] [[${match.user1Hand}]] [[${match.user2Hand}]]
    </li>
  </p>
  <p>
    <li th:each="user : ${users}"><a th:href="@{/match(id=${user.id})}"> [[${user.name}]]</a></li>
  </p>
</body>

</html>
